<div>
  <link href="./header.css" rel="stylesheet" />
  <header id="back to top" data-role="Accordion" class="header-header">
    <img
      alt="logo"
      src="public/playground_assets/vetopia%20logo%20%5B350%20%C3%97%20100px%5D1-1500h.png"
      class="header-image"
    />
    <div class="header-separator"></div>
    <nav class="header-nav">
      <nav class="header-nav1">
        <div data-thq="thq-dropdown" class="header-thq-dropdown list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle">
            <span class="header-text">
              <span>the vetopia way</span>
              <br />
            </span>
          </div>
          <ul data-thq="thq-dropdown-list" class="header-dropdown-list">
            <li data-thq="thq-dropdown" class="header-dropdown list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle01"
              >
                <span class="header-text03 footer_black_below">
                  <span>our culture</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown01 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle02"
              >
                <span class="header-text04 footer_black_below">
                  <span>our team</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown02 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle03"
              >
                <span class="header-text05 footer_black_below">
                  <span class="footer_black_below">careers</span>
                  <br />
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div data-thq="thq-dropdown" class="header-thq-dropdown1 list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle04">
            <span class="header-text08">
              <span>general practice</span>
              <br />
            </span>
          </div>
          <ul data-thq="thq-dropdown-list" class="header-dropdown-list1">
            <li data-thq="thq-dropdown" class="header-dropdown03 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle05"
              >
                <span class="header-text11 footer_black_below">
                  <span>pet exams</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown04 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle06"
              >
                <span class="header-text12 footer_black_below">
                  <span>vaccinations</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown05 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle07"
              >
                <span class="header-text13 footer_black_below">
                  <span>surgery</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown06 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle08"
              >
                <span class="header-text14 footer_black_below">
                  <span>spay & neuter</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown07 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle09"
              >
                <span class="header-text15 footer_black_below">
                  <span>teeth cleaning</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown08 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle10"
              >
                <span class="header-text16 footer_black_below">
                  <span>grooming</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <span class="header-text17 footer_black">
          <span>24/7 emergency</span>
        </span>
        <div data-thq="thq-dropdown" class="header-thq-dropdown2 list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle11">
            <span class="header-text18">
              <span>resources</span>
              <br />
            </span>
          </div>
          <ul data-thq="thq-dropdown-list" class="header-dropdown-list2">
            <li data-thq="thq-dropdown" class="header-dropdown09 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle12"
              >
                <span class="header-text21 footer_black_below">
                  <span>make an appointment</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown10 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle13"
              >
                <span class="header-text22 footer_black_below">
                  <span>new client form</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown11 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle14"
              >
                <span class="header-text23 footer_black_below">
                  <span>review us</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown12 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle15"
              >
                <span class="header-text24 footer_black_below">
                  <span>blog</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="header-dropdown13 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle16"
              >
                <span class="header-text25 footer_black_below">
                  <span>contact</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </nav>
  </header>
</div>
