<div>
  <link href="./homeheader.css" rel="stylesheet" />
  <header data-role="Accordion" class="homeheader-header">
    <img
      alt="logo"
      src="public/playground_assets/vetopia%20logo%20%5B350%20%C3%97%20100px%5D1-1500h.png"
      class="homeheader-image"
    />
    <div class="homeheader-separator"></div>
    <nav class="homeheader-nav">
      <nav class="homeheader-nav1">
        <div data-thq="thq-dropdown" class="homeheader-thq-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="homeheader-dropdown-toggle"
          >
            <span class="homeheader-text">
              <span>the vetopia way</span>
              <br />
            </span>
          </div>
          <ul data-thq="thq-dropdown-list" class="homeheader-dropdown-list">
            <li data-thq="thq-dropdown" class="homeheader-dropdown list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle01"
              >
                <span class="homeheader-text03 footer_black_below">
                  <span>our culture</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown01 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle02"
              >
                <span class="homeheader-text04 footer_black_below">
                  <span>our team</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown02 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle03"
              >
                <span class="homeheader-text05 footer_black_below">
                  <span class="footer_black_below">careers</span>
                  <br />
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div data-thq="thq-dropdown" class="homeheader-thq-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="homeheader-dropdown-toggle04"
          >
            <span class="homeheader-text08">
              <span>general practice</span>
              <br />
            </span>
          </div>
          <ul data-thq="thq-dropdown-list" class="homeheader-dropdown-list1">
            <li data-thq="thq-dropdown" class="homeheader-dropdown03 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle05"
              >
                <span class="homeheader-text11 footer_black_below">
                  <span>pet exams</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown04 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle06"
              >
                <span class="homeheader-text12 footer_black_below">
                  <span>vaccinations</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown05 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle07"
              >
                <span class="homeheader-text13 footer_black_below">
                  <span>surgery</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown06 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle08"
              >
                <span class="homeheader-text14 footer_black_below">
                  <span>spay & neuter</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown07 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle09"
              >
                <span class="homeheader-text15 footer_black_below">
                  <span>teeth cleaning</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown08 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle10"
              >
                <span class="homeheader-text16 footer_black_below">
                  <span>grooming</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <span class="homeheader-text17 footer_black">
          <span>24/7 emergency</span>
        </span>
        <div data-thq="thq-dropdown" class="homeheader-thq-dropdown2 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="homeheader-dropdown-toggle11"
          >
            <span class="homeheader-text18">
              <span>resources</span>
              <br />
            </span>
          </div>
          <ul data-thq="thq-dropdown-list" class="homeheader-dropdown-list2">
            <li data-thq="thq-dropdown" class="homeheader-dropdown09 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle12"
              >
                <span class="homeheader-text21 footer_black_below">
                  <span>make an appointment</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown10 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle13"
              >
                <span class="homeheader-text22 footer_black_below">
                  <span>new client form</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown11 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle14"
              >
                <span class="homeheader-text23 footer_black_below">
                  <span>review us</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown12 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle15"
              >
                <span class="homeheader-text24 footer_black_below">
                  <span>blog</span>
                </span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="homeheader-dropdown13 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="homeheader-dropdown-toggle16"
              >
                <span class="homeheader-text25 footer_black_below">
                  <span>contact</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </nav>
  </header>
</div>
