.instagram-container {
  display: flex;
  position: relative;
}
.instagram-lottie-node {
  width: 300px;
  height: 300px;
}
.instagram-root-class-name {
  width: 50%;
}
.instagram-root-class-name1 {
  width: 50%;
}
.instagram-root-class-name2 {
  width: 50%;
}
