<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html@0.1.12/dist/default/lib.umd.js"
  ></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <link href="./pa-efooter.css" rel="stylesheet" />
  <div class="pa-efooter-container">
    <div class="pa-efooter-container01">
      <div class="pa-efooter-container02">
        <div class="pa-efooter-container03">
          <div>
            <dangerous-html
              html="<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.802548850011!2d121.04882269999999!3d14.5532811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c8efd99aad53%3A0xb64b39847a866fde!2skodego!5e0!3m2!1sen!2sph!4v1680991754221!5m2!1sen!2sph' width='400' height='300' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade'></iframe>"
            ></dangerous-html>
          </div>
        </div>
        <div class="pa-efooter-container04">
          <span class="pa-efooter-text">
            © 2023 VETOPIA. Proudly created by Group 1
          </span>
          <div class="pa-efooter-container05">
            <div class="pa-efooter-container06">
              <div
                class="review-button-container review-button-root-class-name"
              >
                <lottie-player
                  src="https://assets3.lottiefiles.com/packages/lf20_EU5QSFMWQ7.json"
                  loop
                  speed="1"
                  autoplay
                  background="transparent"
                  class="review-button-lottie-node"
                ></lottie-player>
              </div>
            </div>
            <div class="pa-efooter-container07">
              <div class="pa-efooter-container08">
                <a
                  href="https://facebook.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="pa-efooter-link"
                >
                  <div class="faceboook-container faceboook-root-class-name">
                    <lottie-player
                      src="https://assets5.lottiefiles.com/private_files/lf30_pb3we3yk.json"
                      loop
                      speed="1"
                      autoplay
                      background="transparent"
                      class="faceboook-lottie-node"
                    ></lottie-player>
                  </div>
                </a>
              </div>
              <div class="pa-efooter-container09">
                <a
                  href="https://instagram.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="pa-efooter-link1"
                >
                  <div class="instagram-container instagram-root-class-name">
                    <lottie-player
                      src="https://assets9.lottiefiles.com/private_files/lf30_f5ytlpiy.json"
                      loop
                      speed="1"
                      autoplay
                      background="transparent"
                      class="instagram-lottie-node"
                    ></lottie-player>
                  </div>
                </a>
              </div>
            </div>
            <div class="pa-efooter-container10">
              <div class="pa-efooter-container11">
                <a
                  href="https://google.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="pa-efooter-link2"
                >
                  <div class="google-container google-root-class-name">
                    <lottie-player
                      src="https://assets9.lottiefiles.com/private_files/lf30_29gwi53x.json"
                      loop
                      speed="1"
                      autoplay
                      background="transparent"
                      class="google-lottie-node"
                    ></lottie-player>
                  </div>
                </a>
              </div>
              <div class="pa-efooter-container12">
                <a
                  href="https://twitter.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="pa-efooter-link3"
                >
                  <div class="twitter-container twitter-root-class-name">
                    <lottie-player
                      src="https://assets2.lottiefiles.com/private_files/lf30_up3nxxtl.json"
                      loop
                      speed="1"
                      autoplay
                      background="transparent"
                      class="twitter-lottie-node"
                    ></lottie-player>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="pa-efooter-container13">
            <div class="pa-efooter-container14"></div>
            <div class="pa-efooter-container15">
              <span class="pa-efooter-text1 Footer">appointments</span>
              <div class="pa-efooter-container16">
                <span class="footer_black1">mon - fri:</span>
                <span class="pa-efooter-text3 footer11">8:00 am - 6:00 pm</span>
              </div>
              <div class="pa-efooter-container17">
                <span class="footer_black1">sat:</span>
                <span class="pa-efooter-text5 footer11">8:00 am - 2:00 pm</span>
              </div>
            </div>
            <div class="pa-efooter-container18">
              <span class="pa-efooter-text6 Footer">emergencies</span>
              <span class="pa-efooter-text7 footer11">
                24 hours &amp; 7 days a week
              </span>
              <span class="footer_black1">(999) 999-9999</span>
            </div>
          </div>
        </div>
        <div class="pa-efooter-container19">
          <div class="pa-efooter-container20"></div>
        </div>
      </div>
    </div>
  </div>
</div>
