.careers-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.careers-container1 {
  flex: 0 0 auto;
  width: 1920px;
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.careers-div {
  width: 1920px;
  height: 960px;
}
