.faceboook-container {
  display: flex;
  position: relative;
}
.faceboook-lottie-node {
  width: 300px;
  height: 300px;
}
.faceboook-root-class-name {
  width: 50%;
  height: auto;
}
.faceboook-root-class-name1 {
  width: 50%;
  height: auto;
}
.faceboook-root-class-name2 {
  width: 50%;
  height: auto;
}
