.instagram1-container {
  display: flex;
  position: relative;
}
.instagram1-lottie-node {
  width: 300px;
  height: 300px;
}
.instagram1-root-class-name {
  width: 50%;
}
.instagram1-root-class-name1 {
  width: 50%;
}
.instagram1-root-class-name2 {
  width: 50%;
}
.instagram1-root-class-name3 {
  width: 50%;
}
